PORT=3000

# Base de datos Mongoose
MONGO_URI=mongodb://localhost:27017/motorbike

# Base de datos TypeORM (Postgres)
DB_HOST=localhost
DB_PORT=5432
DB_USER=user_moto
DB_PASS=contra_moto
DB_NAME=motorbike

# Autenticación JWT
JWT_SECRET=super_secret_key_motorbike_2026
JWT_EXPIRATION=1d